@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);
* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand";
}

#button {
    border: 1px solid #000;
    text-transform: none;
    font-family: "Quicksand";
    letter-spacing: 2px;
    margin-top: 5px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background: white;
    color: black;
    transition: all 0.3s ease;
    box-shadow: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    width: 200px;
    float: right;
}

#button:hover {
    background: #212529;
    border: 1px solid white;
    transition: all 0.3s ease;
    color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.form-control {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.form-label {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}